/*
/* CHARACTERS CSS */

.characters-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/page-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;

  min-height: 100vh;
}

.characters-header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  height: 320px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/characters-header-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.characters-header-section > h2 {
  background-color: white;
  color: #070707;

  padding: 12px;
  border-radius: 8px;

  width: 350px;
  text-align: center;
}

/* -------------------------------------------------------------------- */

.characters-paging {
  display: flex;
  justify-content: space-between;

  margin-left: 45px;
  margin-right: 45px;

  margin-bottom: 10px;
}

.characters-search {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5px;

  height: 40px;
  width: 400px;

  border-radius: 5px;
  border: solid 2px white;

  font-size: 18px;
  color: white;

  background-color: transparent;
}

.characters-search:focus-within {
  background-color: #ed3237;
}

.characters-search > input {
  width: 100%;
  height: 100%;

  border: none;

  color: white;
  font-size: 14px;
  font-weight: 600;

  background-color: transparent;
}

.characters-search > input::placeholder {
  color: lightgray;
  font-size: 12px;
  font-style: italic;
}

.characters-search > input:focus {
  outline: none;
}

.characters-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 20px;

  font-weight: 600;
}

.characters-buttons > p {
  font-size: 14px;
  font-weight: 600;
}

.characters-buttons > button {
  height: 40px;
  width: 80px;

  border-radius: 5px;
  border: solid 2px white;

  background-color: transparent;
  color: white;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.characters-buttons > button:hover {
  background-color: #ed3237;
}

/* -------------------------------------------------------------------- */

.characters-result-section {
  margin-top: 50px;
}

.characters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.characters-sheet {
  margin: 10px;
  cursor: pointer;
}

.characters-sheet:hover {
  transform: scale(1.05); /* Zoom léger au survol */
  transition: transform 0.5s ease;
}

.characters-description {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 100px;

  margin-top: -10px;

  background-color: white;
  color: black;

  border-top: solid 5px #ed3237;

  /*  clip-path: polygon / explained */

  /* 
   1- Top-left corner
   2- Top-right corner.
   3- Right edge just before the "broken" corner 
   4- Point of the "broken" corner 
   5- Bottom-left corner 
   
   */

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
}

.characters-name {
  font-size: 17px;
  font-weight: 800;
  text-align: center;
}
